{% extends 'layout.html' %}
{% block content %}
  <table class="table table-striped">
      <thead class='thead-dark'>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">X</th>
          <th scope="col">Y</th>
          <th scope="col">Z</th>
          <th scope="col">VX</th>
          <th scope="col">VY</th>
          <th scope="col">VZ</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
          <th scope="col">Altitude</th>
        </tr>
      </thead>
      <tbody>
        {% for object in data %}
          <tr>
            <th scope="row">{{object.id}}</th>
            <td>{{object.name}}</td>
            <td>{{object.x}}</td>
            <td>{{object.y}}</td>
            <td>{{object.z}}</td>
            <td>{{object.vx}}</td>
            <td>{{object.vy}}</td>
            <td>{{object.vz}}</td>
            <td>{{object.latitude}}</td>
            <td>{{object.longitude}}</td>
            <td>{{object.altitude}}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>	
{% endblock content %}